@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.p-toast {
  max-width: 90vw;
}
.hero {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='2000' height='560' x='0' y='0' fill='rgba(55%2c 146%2c 193%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c544.208C114.068%2c539.185%2c238.007%2c581.521%2c334.793%2c520.947C431.779%2c460.248%2c465.371%2c337.73%2c502.714%2c229.582C537.125%2c129.924%2c565.924%2c24.714%2c541.557%2c-77.864C518.166%2c-176.332%2c435.591%2c-243.586%2c371.674%2c-322.057C305.518%2c-403.277%2c256.827%2c-505.242%2c160.301%2c-545.934C59.751%2c-588.323%2c-55.796%2c-577.338%2c-160.43%2c-546.373C-264.923%2c-515.45%2c-359.755%2c-455.867%2c-428.836%2c-371.588C-496.817%2c-288.65%2c-542.297%2c-185.459%2c-544.144%2c-78.236C-545.89%2c23.092%2c-467.949%2c103.315%2c-438.688%2c200.342C-403.23%2c317.917%2c-450.943%2c475.529%2c-354.292%2c551.289C-259.405%2c625.666%2c-120.446%2c549.511%2c0%2c544.208' fill='%232c759a'%3e%3c/path%3e%3cpath d='M2000 1337.138C2156.521 1343.568 2330.584 1363.251 2455.288 1268.441 2578.609 1174.683 2575.314 993.037 2638.5860000000002 851.6320000000001 2701.2309999999998 711.627 2818.538 594.556 2825.38 441.328 2832.837 274.325 2798.654 88.18700000000001 2677.833-27.345000000000027 2558.534-141.42100000000005 2370.328-118.17999999999995 2208.147-148.88400000000001 2063.259-176.31399999999996 1923.879-215.553 1777.49-197.79899999999998 1610.141-177.50300000000004 1405.392-177.231 1307.9070000000002-39.702 1209.417 99.24400000000003 1332.779 292.018 1310.596 460.879 1288.8229999999999 626.6179999999999 1126.971 775.962 1179.925 934.5160000000001 1232.636 1092.3429999999998 1418.768 1158.664 1568.134 1231.9969999999998 1703.879 1298.642 1848.904 1330.931 2000 1337.138' fill='%235aa8d0'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1417%26quot%3b)' fill='none'%3e%3crect width='2000' height='560' x='0' y='0' fill='rgba(55%2c 146%2c 193%2c 1)'%3e%3c/rect%3e%3cpath d='M1142.08%2c263.55C1203.368%2c265.343%2c1265.916%2c244.482%2c1298.25%2c192.387C1332.211%2c137.669%2c1333.016%2c66.259%2c1298.127%2c12.129C1265.625%2c-38.298%2c1202.047%2c-51.712%2c1142.08%2c-49.909C1085.839%2c-48.218%2c1030.571%2c-27.114%2c1001.479%2c21.047C971.434%2c70.785%2c971.824%2c133.422%2c1000.97%2c183.692C1030.025%2c233.805%2c1084.178%2c261.856%2c1142.08%2c263.55' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M74.75706655157735 7.527874924710126L107.44239705695709 108.12297852824938 208.03750066049633 75.43764802286964 175.3521701551166-25.157455580669613z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M204.9253014046056 156.5148093877043L86.68883319096997 60.76880528693323-9.057170909801101 179.00527350056885 109.17929730383452 274.7512776013399z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1358.895%2c397.235C1389.207%2c396.214%2c1416.664%2c380.179%2c1431.939%2c353.977C1447.33%2c327.576%2c1448.843%2c295.158%2c1433.967%2c268.463C1418.695%2c241.057%2c1390.261%2c223.609%2c1358.895%2c222.896C1326.233%2c222.154%2c1294.53%2c236.926%2c1277.674%2c264.912C1260.292%2c293.771%2c1259.172%2c330.493%2c1276.796%2c359.205C1293.706%2c386.754%2c1326.588%2c398.324%2c1358.895%2c397.235' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1704.689%2c686.852C1767.636%2c691.993%2c1829.061%2c655.796%2c1858.665%2c600.007C1886.743%2c547.095%2c1872.669%2c483.12%2c1839.137%2c433.485C1809.577%2c389.729%2c1757.489%2c372.84%2c1704.689%2c372.087C1650.211%2c371.31%2c1590.139%2c382.065%2c1563.428%2c429.552C1537.053%2c476.442%2c1562.989%2c530.812%2c1588.88%2c577.971C1616.21%2c627.751%2c1648.088%2c682.229%2c1704.689%2c686.852' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1031.9252065137948 378.6730860483577L1069.990461335866 425.6797609909155 1121.4678463386672 345.07854128652974z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1429.123346697913 280.92302637082184L1404.7660421409753 406.2304953474271 1530.0735111175804 430.58779990436466 1554.430815674518 305.28033092775945z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M591.1417573314 447.51427660289175L519.4430433287139 509.8410178039054 581.7697845297275 581.5397318065915 653.4684985324136 519.2129906055778z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M282.7890247633008 171.66968230539604L307.6072010845466 328.36548064513374 464.3029994242843 303.54730432388794 439.4848231030385 146.85150598415024z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M699.758%2c710.42C746.53%2c711.037%2c774.311%2c663.689%2c797.061%2c622.818C818.948%2c583.496%2c838.103%2c538.659%2c817.687%2c498.554C795.714%2c455.39%2c748.185%2c432.56%2c699.758%2c431.68C649.655%2c430.77%2c596.317%2c449.18%2c574.166%2c494.129C553.583%2c535.896%2c583.418%2c580.043%2c606.8%2c620.31C630.026%2c660.309%2c653.509%2c709.81%2c699.758%2c710.42' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1093.8204348029342 266.57605682859503L942.1044362192761 321.7961643750199 1149.0405423493592 418.29205541225315z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.1781766211438 497.63921312963123L99.85856892726822 408.7522409503688 106.29120444188132 592.9588208235068z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1736.444%2c207.508C1781.375%2c204.581%2c1823.186%2c187.355%2c1848.727%2c150.274C1878.71%2c106.743%2c1902.643%2c50.527%2c1876.023%2c4.861C1849.512%2c-40.618%2c1789.086%2c-42.554%2c1736.444%2c-42.347C1684.314%2c-42.142%2c1627.878%2c-37.284%2c1598.756%2c5.953C1566.655%2c53.613%2c1563.185%2c119.315%2c1595.598%2c166.764C1625.145%2c210.017%2c1684.173%2c210.913%2c1736.444%2c207.508' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1417'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
